Source: truenas-installer
Section: admin
Priority: optional
Maintainer: Vladimir Vinogradenko <vladimirv@ixsystems.com>
Build-Depends: debhelper-compat (= 12),
               dh-python,
               python3-all,
               python3-jsonschema,
               python3-licenselib,
               python3-humanfriendly,
               python3-pyroute2,
               python3-setuptools
Standards-Version: 4.4.0

Package: python3-truenas-installer
Architecture: all
Depends: ${misc:Depends},
         ${python3:Depends},
         avahi-daemon,
         dialog,
         gdisk,
         nginx,
         zfs-dkms,
         zfsutils-linux,
         zfs-initramfs,
         linux-headers-amd64,
         parted,
         python3-jsonschema,
         python3-licenselib,
         python3-humanfriendly,
         python3-pyroute2,
         squashfs-tools,
         util-linux,
         sqlite3
Description: TrueNAS Installer
 TrueNAS Installer
